<html>
    <head>
        <title>thrid page</title>
    </head>
        <h2 style="color: red; text-decoration: underline;">Education</h2>
        <body>  
        <p>I have got a dergree in IT and also masters</p>
        <h2 style="color: red; text-decoration: underline;">Work Experience</h2>
        <p>Royal Mail :Delivery driver 2018-2022</p>
        <p>Office Ltd: Furniture fitter 2010-2018</p>
        <a href="{{url_for('home_fun')}}">Click to go Home page</a>
    </body>   
  </html>
        
